@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Gamja Flower';
    font-size: 28px;
    color: #222;
}

.navbar {
    background-color: rgba(82, 64, 120, 0.9) !important;
}

.navbar li a {
    color: white !important;
}

.navbar li a:hover {
    color: black !important;
}

.carousel-inner img {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
}

.carousel-caption h1 {
    color: rgb(231, 190, 190);
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
}

.carousel-caption h3 {
    color: rgb(231, 190, 190);
    font-size: 200%;
    text-shadow: 2px 2px 10px #000;
}

.btn-primary {
    background-color: rgb(82, 64, 120);
    border: 1px solid white;
}

.btn-primary:hover {
    background-color: rgb(62, 44, 100);
    border: 1px solid white;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.welcome hr {
    border-top: 2px solid rgba(62, 44, 100, 0.6);
    width: 95%;
    margin-bottom: 2rem;
}

.fa-react {
    color: #81D8F7;
}

.fa-angular {
    color: rgb(177, 43, 55);
}

.fa-css3 {
    color: #D76537;
}

.fa-react,
.fa-angular,
.fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
}

.social a {
    font-size: 3em;
    /*1em = 16px*/
    padding: 3rem;
    /*1rem = 1 "font-size" */
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}


/*Media Query*/

@media (max-width: 992px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 160%;
    }
    .carousel-caption .btn {
        font-size: 120%;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 220%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 10%;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
}

.team-section {
    height: 100vh;
    display: flex;
}

.person {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .6s;
}

.person:hover {
    flex: 3;
}

.person-pic {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);
    transition: .3s;
}

.person:hover .person-pic {
    filter: grayscale(0);
}

.person-info {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .2s;
}

.person:hover .person-info {
    opacity: 1;
    bottom: 60px;
    transition-delay: .6s;
}

.person-info h2 {
    font-size: 20px;
    color: #fff;
}

.person-info p {
    color: #b8e994;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
}

.socialmedia a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #333;
    background-color: #b8e994;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 18px;
    transition: .3s linear;
}

.socialmedia a:hover {
    color: #b8e994;
    background-color: transparent;
    transform: scale(1.5);
}